div.range_tabs{
	text-align: center;
	padding: 5px;
}
a{
	color: black;
	font-family: serif;
	font-weight: medium;
}
header a:hover, .my_categories a:hover , .my_categories a:hover , .my_tabs a:hover{
	font-weight: bold;
}
table.my_table a{
	border-bottom: 2px solid maroon; /* Р СџР В°РЎР‚Р В°Р СР ВµРЎвЂљРЎР‚РЎвЂ№ Р В»Р С‘Р Р…Р С‘Р С‘ Р С—Р С•Р Т‘ РЎвЂљР ВµР С”РЎРѓРЎвЂљР С•Р С */
    font-weight: normal; /* Р Р€Р В±Р С‘РЎР‚Р В°Р ВµР С Р В¶Р С‘РЎР‚Р Р…Р С•Р Вµ Р Р…Р В°РЎвЂЎР ВµРЎР‚РЎвЂљР В°Р Р…Р С‘Р Вµ */
    padding-bottom: 0px; /* Р  Р В°РЎРѓРЎРѓРЎвЂљР С•РЎРЏР Р…Р С‘Р Вµ Р С•РЎвЂљ РЎвЂљР ВµР С”РЎРѓРЎвЂљР В° Р Т‘Р С• Р В»Р С‘Р Р…Р С‘Р С‘ */
}
a.link{
	border-bottom: 2px solid maroon; /* Р СџР В°РЎР‚Р В°Р СР ВµРЎвЂљРЎР‚РЎвЂ№ Р В»Р С‘Р Р…Р С‘Р С‘ Р С—Р С•Р Т‘ РЎвЂљР ВµР С”РЎРѓРЎвЂљР С•Р С */
    font-weight: normal; /* Р Р€Р В±Р С‘РЎР‚Р В°Р ВµР С Р В¶Р С‘РЎР‚Р Р…Р С•Р Вµ Р Р…Р В°РЎвЂЎР ВµРЎР‚РЎвЂљР В°Р Р…Р С‘Р Вµ */
    padding-bottom: 0px; /* Р  Р В°РЎРѓРЎРѓРЎвЂљР С•РЎРЏР Р…Р С‘Р Вµ Р С•РЎвЂљ РЎвЂљР ВµР С”РЎРѓРЎвЂљР В° Р Т‘Р С• Р В»Р С‘Р Р…Р С‘Р С‘ */	
}
a:hover{
	color:black;
}
form.my_form{
	text-align: center;
}
form.my_form table{
	margin: 0 auto;
}
h1,h2,h3,h4,h5,h6{
	text-align: center;
}
form.my_form input{
	padding: 5px;
	border-radius: 5px;
	margin: 3px;
	min-height: 35px;
}
form.my_form button{
	padding: 0px 20px 0px 20px; 
	border-radius: 5px;
	margin: 3px;
	min-height: 30px;
	float:right;
}
header{
	position: fixed;
	min-height: 50px;
    height: auto;
    width: 100%;
    z-index: 100;	
}
header ul.dropdown-menu a{
	font-size: 120%;
}
footer{
	min-height: 180px;
	width:100%;
}
input.edit_text{
	margin: 5px;
	border-radius: 10px;
	border-color: lightblue;
}
table.my_table{
	margin: 20px auto 20px auto;
	border-radius: 5;
	border-color: black;	
}
table.my_table thead tr td{
	padding: 10px;
	min-height: 50px;
	max-width: 9%;
	color: #ddd;
	background-color: #333;
	text-align: center;
}
table.my_table thead tr td:hover{
	color: #fff;
	background-color: #000;
}
table.my_table tbody tr{
	margin: 20px 100px 20px 100px;
	text-align: center;
}
table.my_table tbody tr:hover , table.my_table tbody tr:hover a{
	background-color: #ddd;
	color:#000;
	font-weight: medium;

}
table.my_table tbody tr td{
	padding: 10px;
	min-height: 20px;
	min-width: 50px;
	border-radius: 5;
	border-color: black;
}
html,body{
	font-family: serif;
	height: 100%;
	position: relative;
	font-size: 18px;
}
/* 
Tahoma,Arial;
*/
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24537;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:4px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
	background-color:#c62d1f;
}
.myButton:active {
	position:relative;
	top:1px;
}
/*
	form input file
*/
.fileform { 
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    cursor: pointer;
    height: 35px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 230px;
}
 
.fileform .selectbutton { 
    float: right;
    font-size: 12px;
    height: 30px;
    line-height: 20px;
    overflow: hidden;
    padding: 4px 6px;
    text-align: center;
    vertical-align: middle;
    /*
	background-color: #A2A3A3;
    border: 1px solid #939494;
    border-radius: 2px;
    color: #FFFFFF;
    width: 50px;
    
    */
}
 
.fileform #upload{
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    -moz-opacity: 0; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    font-size: 150px; 
    height: 30px; 
    z-index:20;
}
.fileform #fileformlabel { 
	background-color: #FFFFFF;
	float: left;
	height: 22px;
	line-height: 22px;
	overflow: hidden;
	padding: 3px 10px 0px 10px;
	text-align: left;
	vertical-align: middle;
	width:160px;
}
/*linear-gradient(to top, #999, #fff);*/